<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<!-- Database Configuration -->
	<import resource="../database/DataSource.xml"/>
	<import resource="../database/Hibernate.xml"/>
	
	<!-- Auto scan the components -->
	<context:component-scan 
		base-package="org.fluidlearn.core" />



	<!-- specifica del transictionalManager -->
	<!-- responsabile delle transazioni. Crea e gestisce le transazioni attraverso 
		un datasource Questo di Hibernate è in grado di operare tramite una session 
		factory Occorre, inoltre, specificare le direttive di transazione tramite 
		tx:annotation-driver -->

	<tx:annotation-driven />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- creo i bean per le classi Dao -->
	<bean id="personDao" class="org.fluidlearn.core.dao.impl.PersonDaoImpl"></bean>
	<bean id="nodoDao" class="org.fluidlearn.core.dao.impl.NodoDaoImpl"></bean>
	<bean id="pluginDao" class="org.fluidlearn.core.dao.impl.PluginDaoImpl"></bean>
	<bean id="postDao" class="org.fluidlearn.core.dao.impl.PostDaoImpl"></bean>
	<bean id="testoDao" class="org.fluidlearn.core.dao.impl.TestoDaoImpl"></bean>
	<bean id="utenteDao" class="org.fluidlearn.core.dao.impl.UtenteDaoImpl"></bean>
	<bean id="artefattoDao" class="org.fluidlearn.core.dao.impl.ArtefattoDaoImpl"></bean>
	<bean id="contributoDao" class="org.fluidlearn.core.dao.impl.ContributoDaoImpl"></bean>
	<bean id="corpoDao" class="org.fluidlearn.core.dao.impl.CorpoDaoImpl"></bean>
	<bean id="corsoDao" class="org.fluidlearn.core.dao.impl.CorsoDaoImpl"></bean>
	<bean id="mappaDao" class="org.fluidlearn.core.dao.impl.MappaDaoImpl"></bean>
	<bean id="partecipanteDao" class="org.fluidlearn.core.dao.impl.PartecipanteDaoImpl"></bean>
	<bean id="prototipoDao" class="org.fluidlearn.core.dao.impl.PrototipoDaoImpl"></bean>
	<bean id="RelazioneDao" class="org.fluidlearn.core.dao.impl.RelazioneDaoImpl"></bean>
	<bean id="risorsaDao" class="org.fluidlearn.core.dao.impl.RisorsaDaoImpl"></bean>
	<bean id="rispostaDao" class="org.fluidlearn.core.dao.impl.RispostaDaoImpl"></bean>
	<bean id="ruoloDao" class="org.fluidlearn.core.dao.impl.RuoloDaoImpl"></bean>
	<bean id="sollecitazioneDao" class="org.fluidlearn.core.dao.impl.SollecitazioneDaoImpl"></bean>
	<bean id="testoDao" class="org.fluidlearn.core.dao.impl.TestoDaoImpl"></bean>
	<bean id="unitaDADao" class="org.fluidlearn.core.dao.impl.UnitaDADaoImpl"></bean>
	
	
	
	<!-- creo dei bean da inserire poi nel db per i test -->
	

	<!-- Proxy verso il target object per AOP -->
	
		<!-- Abilitazione auto-proxy >
		<aop:aspectj-autoproxy proxy-target-class="true"/-->
	
		<!-- Definizione LogAspect>
  		<bean class="org.fluidlearn.core.aop.LogAspect" /-->

</beans>